<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
          #box {width:300px;height:105px;display:none;}
        </style>
    </head>
    <body>
        <div id="box" style="">
            <form action="/index/front/upload" enctype="multipart/form-data" method="post">
            <input type="file" name="file" /> <br>
            <input type="submit" value="上传" />
           </form>
        </div>
       <p>弹一个</p>
       {load href='/static/js/jquery-1.8.3.min.js'}
       {load href='/static/js/easydialog.min.js'}
      <script>
          $(function () {
             $('p').click(function () {
                easyDialog.open({
                    container : 'box',
                });
             });
          })
      </script>
    </body>
</html>