{include file='./head'}
    <div id='devs'>
        <div id='gimbal' class="fl border">
            <a href="javascript:;" class='selected' name='gimbalInfo'>转台</a>
        </div>
        <div id='ccd' class="fl border">
            <a href="javascript:;" name='ccdInfo'>ccd</a>
        </div>
        <div id='focus' class="fl border">
            <a href="javascript:;" name='focusInfo'>调焦器</a>
        </div>
        <div id='dome' class="fl border">
            <a href="javascript:;" name='domeInfo'>圆顶</a>
        </div>
       
    </div>
    <!--下面显示设备信息和操作-->
    <div id='gimbalInfo' class='devInfo border clear display'>
    <span style='color:red'>固定属性：</span>
        <ul>
            <li class='li fl'>
                经度:<input type="text" value='123'>
            </li>
            <li class='li fl'>
                纬度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                口径:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                类型:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                焦点类型:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                焦比:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                焦距:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴1最大速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2最大速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3最大速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴1最大加速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2最大加速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3最大加速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴1复位位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2复位位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3复位位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否有第3轴:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否有镜盖（轴5）:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                俯仰最低值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                温度传感器数目:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                湿度传感器数目:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                连接:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                找零:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                跟踪恒星:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置目标名称:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                指向固定位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3指向固定位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置轴3工作模式:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                停止:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                复位:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                恒速运动:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                位置修正:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                镜盖操作:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                焦点切换镜操作:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                急停:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                保存同步数据:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                跟踪卫星:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                属性设置:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>可变属性：</p>

            <li class='li fl'>
                时间戳:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前恒星时:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前时角:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前赤经:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前赤纬:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前J2000赤经:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前J2000赤纬:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前方位:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前俯仰:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前消旋位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标赤经:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标赤纬:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标J2000赤经:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标J2000赤纬:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标方位:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标俯仰:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标消旋位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴1跟踪误差:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2跟踪误差:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3跟踪误差:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                焦点类型索引位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                焦点切换镜角度位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                镜盖索引位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                镜盖位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                焦点类型目标索引位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                焦点切换镜目标角度位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                镜盖目标索引位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴1速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                跟踪目标类型:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标名称:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                大气折射修正值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴1编码器位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2编码器位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2编码器位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3编码器位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3工作模式:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴1指向模型修正值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2指向模型修正值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3指向模型修正值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴1人工修正值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2人工修正值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3人工修正值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                盘向:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标盘向:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴1是否找零:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴2是否找零:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3是否找零:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                温度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                湿度:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>当前状态：</p>
            <li class='li fl'>
                连接中:<input type="text" value='234'>
            </li>
             <p style='color:red;' class='clear'>历史状态：</p>
            <li class='li fl'>
                恒速跟踪:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>错误标识：</p>
            <li class='li fl'>
                正常:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>警告状态：</p>
            <li class='li fl'>
                伺服通信失败异常:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>错误状态：</p>
            <li class='li fl'>
                伺服通信失败异常:<input type="text" value='234'>
            </li>
            <hr class='clear' />
            <p style='color:red;' class='clear'>操作区：</p>
            <li class='li fl'>
                连接:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                找零:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                跟踪恒星:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置目标名称:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                指向固定位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                轴3指向固定位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                停止:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置跟踪速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                复位:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                恒速运动:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                位置修正:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                镜盖操作:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                焦点切换镜操作:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                急停:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                保存同步数据:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                跟踪卫星:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                属性设置:<input type="text" value='234'>
            </li>
        </ul>
    </div>
    <!--ccd状态及操作-->
    <div id='ccdInfo' class='devInfo border clear displayNo'>
        <span style='color:red'>固定属性：</span>
        <ul>
            <li class='li fl'>
                隶属望远镜:<input type="text" value='123'>
            </li>
            <li class='li fl'>
                探测器类型:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                x像素:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                y像素:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                x像元大小:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                y像元大小:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                传感器名称:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                图像位数:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                制冷方式:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                最低制冷温度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                最大曝光时间:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                最小曝光时间:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                曝光时间分辨率:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                满阱电荷:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                读出模式 5:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                读出速度模式 4:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                转移速度模式 4:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                增益模式2:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                增益档位4:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                增益值 （5-1）*4*4*2*4:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                读出噪声值 4*4*2*4:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                快门类型:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                快门模式:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否支持帧转移:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否支持EM:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否支持CMOS noise filter:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否支持 base line:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否支持Over scan:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                BIN:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否支持开窗:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                接口类型:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                曝光触发模式:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                最大EM:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                最小EM:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                连接:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置制冷温度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置曝光策略:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                开始曝光:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                停止曝光:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                终止曝光:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置增益:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置读出速度模式值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置转移速度模式值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置BIN:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置ROI:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置快门:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置帧转移:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                set EM:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                set CMOS noise filter:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                set base line:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                set over scan:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>可变属性：</p>
            <li class='li fl'>
                时间戳:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前拍摄目标名称:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                当前拍摄目标类型:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前拍摄目标赤经:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                当前拍摄目标赤纬:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前拍摄目标历元:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                当前拍摄波段:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                BinX:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                BinY:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                startX:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                startY:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                图像宽度:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                图像高度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                曝光时间:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                延迟时间:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                帧序号:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                总拍摄帧数:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                读出速度模式索引:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                转移速度模式索引:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                增益模式索引:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                增益档位索引:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前制冷温度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                制冷温度设置值:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                上次曝光名称:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                上次曝光开始时刻:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                上次曝光时间:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                读出模式:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                图像存储位数值:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                曝光完成百分比:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                曝光触发模式值（索引）:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                风扇状态（索引）:<input type="text" value='234'>
            </li>
              <li class='li fl'>
                快门模式值（索引）:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                帧转移:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                EM:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                EM值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                CMOS noise filter:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                base line:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                Base line值:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                像元比例尺X:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                像元比例尺Y:<input type="text" value='234'>
            </li>

            <p style='color:red;' class='clear'>当前状态：</p>
            <li class='li fl'>
                连接中:<input type="text" value='234'>
            </li>
             <p style='color:red;' class='clear'>历史状态：</p>
            <li class='li fl'>
                恒速跟踪:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>错误标识：</p>
            <li class='li fl'>
                正常:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>警告状态：</p>
            <li class='li fl'>
                伺服通信失败异常:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>错误状态：</p>
            <li class='li fl'>
                伺服通信失败异常:<input type="text" value='234'>
            </li>
            <hr class='clear' />
            <p style='color:red;' class='clear'>操作区：</p>
            <li class='li fl'>
                连接:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置制冷温度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置曝光策略:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                开始曝光:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                停止曝光:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                终止曝光:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置增益:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置读出速度模式值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置转移速度模式值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置BIN:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置ROI:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置快门:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置帧转移:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                set EM:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                set CMOS noise filter:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                set base line:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                set over scan:<input type="text" value='234'>
            </li>
        </ul>
    </div>
    <!--调焦器状态及操作-->
    <div id='focusInfo' class='devInfo border clear displayNo'>
       <span style='color:red'>固定属性：</span>
        <ul>
            <li class='li fl'>
                所属望远镜:<input type="text" value='123'>
            </li>
            <li class='li fl'>
                最大值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                最小值:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                分辨率:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否可找零:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否可进行温度补偿:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                最大速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                连接:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置目标位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置恒速运动:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                停止运动:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                使能温度补偿:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置温度补偿系数:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                找零:<input type="text" value='234'>
            </li>
            
            <p style='color:red;' class='clear'>可变属性：</p>
            <li class='li fl'>
                时间戳:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                当前位置:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                目标位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                找零状态:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                当前环境温度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否进行温度补偿:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                温度补偿系数:<input type="text" value='234'>
            </li>
            
            <p style='color:red;' class='clear'>当前状态：</p>
            <li class='li fl'>
                连接中:<input type="text" value='234'>
            </li>
             
            <p style='color:red;' class='clear'>错误标识：</p>
            <li class='li fl'>
                正常:<input type="text" value='234'>
            </li>
            
            <p style='color:red;' class='clear'>错误状态：</p>
            <li class='li fl'>
                待定义:<input type="text" value='234'>
            </li>
            <hr class='clear' />
            <p style='color:red;' class='clear'>操作区：</p>
            <li class='li fl'>
                连接:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置目标位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置恒速运动:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                停止运动:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                停止曝光:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                使能温度补偿:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置温度补偿系数:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                找零:<input type="text" value='234'>
            </li>
        </ul>
    </div>
    <!--圆顶状态及操作-->
    <div id='domeInfo' class='devInfo border clear displayNo'>
         <span style='color:red'>固定属性：</span>
        <ul>
            <li class='li fl'>
                所属望远镜:<input type="text" value='123'>
            </li>
            <li class='li fl'>
                类型:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                是否具备风帘:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                最大转动速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                大小:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置目标方位:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置风帘位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置转动速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                停止运动:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                打开天窗:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                控制风帘运动:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                连接:<input type="text" value='234'>
            </li>
            

            <p style='color:red;' class='clear'>可变属性：</p>
            <li class='li fl'>
                天窗状态:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                风帘状态:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                当前方位:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                天窗打开百分比:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                风帘位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标方位:<input type="text" value='234'>
            </li>
             <li class='li fl'>
                目标天窗状态:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                目标风帘位置:<input type="text" value='234'>
            </li>
             

            <p style='color:red;' class='clear'>当前状态：</p>
            <li class='li fl'>
                连接中:<input type="text" value='234'>
            </li>
            <p style='color:red;' class='clear'>错误标识：</p>
            <li class='li fl'>
                正常:<input type="text" value='234'>
            </li>
            
            <p style='color:red;' class='clear'>错误类型：</p>
            <li class='li fl'>
                待定义：<input type="text" value='234'>
            </li>
            <hr class='clear' />
            <p style='color:red;' class='clear'>操作区：</p>
            <li class='li fl'>
                连接:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置目标方位:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置风帘位置:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                设置转动速度:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                停止运动:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                打开天窗:<input type="text" value='234'>
            </li>
            <li class='li fl'>
                控制风帘运动:<input type="text" value='234'>
            </li>
            
        </ul>
    </div>
    <script type="text/javascript" src='../../js/dev2.js'> </script>
</div>   
</body>
</html>