<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="content-type">
        <title>兴隆台</title>
        <!--<script src='../../js/jquery-1.8.3.min.js'></script>-->
    </head>
    <body>
        <div>
            <p>
               <span>欢迎：{$Think.session.login}</span>
               <a href="/index/index/logOut">退出登录</a>
            </p>
        </div>
        <div>
            <p>
               <a href="/index/front/dev1">设备1</a>
               <a href="/index/front/dev2">设备2</a>
            </p>
        </div>
    </body>
</html>