<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    {load href='/static/js/jquery-1.8.3.min.js'}
</head>
<body>
	<form id='gimbalCtrl'>
                       <!--  <input type="hidden" name="type" value='uint16' /> -->
                        <input type="hidden" name="at" value="001" />
                        <input type="hidden" name="device" value="002" />
						<input type="hidden" name="operation" value="003" />
						<!--测试阶段：每次提交指令 都对operation赋值 -->
                         <li class='li fl'> <input type="radio" name='command' dataType='uint16' value='1'>
                         连接:<input type="text" class='command' name='connect' />
                         </li>
                        <li class='li fl'>  <input type="radio" name='command' dataType='uint32' dataName='startTime' value='2'> 
                        找零:<input type="text" class='command' name='findHome'  />
                        </li>
                        <li class='li fl border' style='margin-right:6px;'>   <input type="radio" name='command' dataType='double64' dataName='duration' value='3'> 
                        跟踪恒星：<input type="text" class='command' name='TrackStar' />
						<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤经：<input type="text" class='command' name='rightAscension' />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤纬：<input type="text" class='command' name='declination' />
                        <br />历元：<input type="text" class='command' name='epoch' />
                        <br />跟踪速度：
							<input type="text" class='command' name='speed' />
                        </li>
                        <li class='li fl border' style='margin-right:6px;'>   <input type="radio" name='command' dataType='double64' dataName='delay' value='4'>
                        设置目标名称<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目标名称：<input type="text" class='command' name='command3' />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目标类型：
							<select name="" style='width:103px;'>
								<option value="">恒星</option>
								<option value="">太阳</option>
								<option value="">月亮</option>
								<option value="">彗星</option>
								<option value="">行星</option>
								<option value="">卫星</option>
								<option value="">固定位置</option>
							</select>
                         </li>
                        <li class='li fl'>  <input type="radio" name='command' dataType='uint8' dataName='objectName' value='5' />
                        指向固定位置:<input type="text" class='command' name='command5' />
                        </li>
                        <li class='li fl'>  <input type="radio" name='command' dataType='uint16' dataName='objectType' value='6' />
                        轴3指向固定位置:<input type="text" class='command' name='command6' />
                        </li>
                        <li class='li fl'>  <input type="radio" name='command' dataType='double64' dataName='objectRightAscension' value='7' /> 
                        设置轴3工作模式:<input type="text" class='command' name='command7' />
                        </li>
                        </li>
                        <li class='li fl'>  <input type="radio" name='command' dataType='double64' dataName='objectDeclination' value='8' />
                        停止:<input type="text" class='command' name='command8' />
                         </li>
                        <li class='li fl'>  <input type="radio" name='command' value='9' />
                        设置跟踪速度:<input type="text" class='command' name='command9' />
                         </li>
                        <li class='li fl'>   <input type="radio" name='command' value='10' />
                        复位:<input type="text" class='command' name='command10' />
                         </li>
                        <li class='li fl'> <input type="radio" name='command' value='11' />
                        恒速运动:<input type="text" class='command' name='command11' />
                        </li>
                        <li class='li fl'>  <input type="radio" name='command' value='12' />
                        位置修正:<input type="text" class='command' name='command12' />
                         </li>
                        <li class='li fl'>   <input type="radio" name='command' value='13' />
                        镜盖操作: <input type="text" class='command' name='command13' />
                         </li>
                        <li class='li fl'>  <input type="radio" name='command' value='14' />
                         焦点切换镜操作:<input type="text" class='command' name='command14' />
                         </li>
                        <li class='li fl'>  <input type="radio" name='command' value='15' />
                        急停:<input type="text" class='command' name='command15' />
                         </li>
                        <li class='li fl'>    <input type="radio" name='command' value='16' />
                        保存同步数据:<input type="text" class='command' name='command16' />
                          </li>
                        <li class='li fl'> <input type="radio" name='command' value='17' />
                        跟踪卫星:<input type="text" class='command' name='command17' />
                        </li>
						<li class='li fl'> <input type="radio" name='command' value='17' />
                        属性设置:<input type="text" class='command' name='command17' />
                        </li>
                        <div class="clear"><input type="button" id="gimbalCtrlBtn" value="提交操作指令"></div>
                     </form>
				<script>
					$(function () {

                         var form = $('#gimbalCtrl');
                     

                        //按钮提交事件
                          $("#gimbalCtrlBtn").click(function (){
       
                                var formData = new FormData(form[0]);

                                //执行ajax
                                $.ajax ({
                                       type: 'post',
                                       url : '/test/dev/dev1_zhuanTai_send/',
                                      data : formData,
                                      processData : false,
                                      contentType : false,  
                                       
                                       success:  function (info) {
                                        alert(info);
                                        
                                      },

                                     error:  function () {
                                        alert('网络异常,请重新提交');
                                     },
                                });

                          });
                           
                         
                       })
				</script>
</body>
</html>