<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    {load href='/static/js/jquery-1.8.3.min.js'}
	<style>
		a {text-decoration:none;}
		li {line-height:30px;}
	</style>
</head>
<body>
	<form id='ccdCtrl'>
	   <!--  <input type="hidden" name="type" value='uint16' /> -->
		<input type="hidden" name="at" value="001" />
		<input type="hidden" name="device" value="002" />
		<input type="hidden" name="operation" value="003" />
		<!--测试阶段：每次提交指令 都对operation赋值 -->
		 <li class='li fl'> <input type="radio" name='command' dataType='uint16' value='1'>
		 连接:<input type="text" class='command' name='connect' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command' dataType='uint32' dataName='startTime' value='2'> 
		设置制冷温度:<input type="text" class='command' name='temperature'  placeholder='数字' />
		</li>
		<li class='li fl border' style='margin-right:6px;'>   <input type="radio" name='command' dataType='double64' value='3'> 
		设置曝光策略：
		<br />&nbsp;&nbsp;(1)数据有效标志位：<input type="text" class='command' name='validFlag' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤纬：<input type="text" class='command' name='declination' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤经：<input type="text" class='command' name='rightAscension' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤纬：<input type="text" class='command' name='declination' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤经：<input type="text" class='command' name='rightAscension' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤纬：<input type="text" class='command' name='declination' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤经：<input type="text" class='command' name='rightAscension' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤纬：<input type="text" class='command' name='declination' />
		<hr />
		</li>
		<li class='li fl border' style='margin-right:6px;'>   <input type="radio" name='command' dataType='double64' dataName='delay' value='4'>
		设置目标名称<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目标名称：<input type="text" class='command' name='objectName' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目标类型：
			<input type="text" class='command' name='objectType' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command' dataType='uint8' dataName='objectName' value='5' />
		指向固定位置:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;方位：
			<input type="text" class='command' name='azimuth' />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;俯仰：
			<input type="text" class='command' name='elevation' />
		</li>
		<li class='li fl'>  <input type="radio" name='command' dataType='uint16' dataName='objectType' value='6' />
		轴3指向固定位置:<input type="text" class='command' name='position' />
		</li>
		<li class='li fl'>  <input type="radio" name='command' dataType='double64'  value='7' /> 
		设置轴3工作模式:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;模式：
			<input type="text" class='command' name='mode' />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;起偏角：
			<input type="text" class='command' name='polarizingAngle' />
		</li>
		</li>
		<li class='li fl'>  <input type="radio" name='command' dataType='double64' dataName='objectDeclination' value='8' />
		停止:<input type="text" class='command' name='stop' placeholder='随便给个值' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command' value='9' />
		设置跟踪速度:<input type="text" class='command' name='TrackSpeed' />
		 </li>
		<li class='li fl'>   <input type="radio" name='command' value='10' />
		复位:<input type="text" class='command' name='park' placeholder='随便给个值' />
		 </li>
		<li class='li fl'> <input type="radio" name='command' value='11' />
		恒速运动:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;速度：
			<input type="text" class='command' name='FixedMoveAxis' />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;轴：
			<input type="text" class='command' name='FixedMoveSpeed' />
		</li>
		<li class='li fl'>  <input type="radio" name='command' value='12' />
		位置修正:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;轴：
			<input type="text" class='command' name='PositionCorrectAxis' />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修正值：
			<input type="text" class='command' name='PositionCorrectVal' />
		 </li>
		<li class='li fl'>   <input type="radio" name='command' value='13' />
		镜盖操作: <input type="text" class='command' name='openCover' placeholder='输入整数' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command' value='14' />
		 焦点切换镜操作:<input type="text" class='command' name='setFocusType' placeholder='输入整数' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command' value='15' />
		急停:<input type="text" class='command' name='emergenceStop' name='setFocusType' placeholder='随便给个值' />
		 </li>
		<li class='li fl'>    <input type="radio" name='command' value='16' />
		保存同步数据:<input type="text" class='command' name='command16' />
		  </li>
		<li class='li fl'> <input type="radio" name='command' value='17' />
		跟踪卫星:<input type="text" class='command' name='command17' />
		</li>
		<li class='li fl'> <input type="radio" name='command' value='17' />
		属性设置:<input type="text" class='command' name='command17' />
		</li>
		<div class="clear"><input type="button" id="gimbalCtrlBtn" value="提交操作指令"></div>
	 </form>
				<script>
					$(function () {

                         var form = $('#ccdCtrl');
                     

                        //按钮提交事件
                          $("#gimbalCtrlBtn").click(function (){
       
                                var formData = new FormData(form[0]);

                                //执行ajax
                                $.ajax ({
                                       type: 'post',
                                       url : '/test/dev/dev1GimbalSendData',
                                      data : formData,
                                      processData : false,
                                      contentType : false,  
                                       
                                       success:  function (info) {
                                        alert(info);
                                        
                                      },

                                     error:  function () {
                                        alert('网络异常,请重新提交');
                                     },
                                });

                          });
                           
                         
                       })
				</script>
</body>
</html>