<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    {load href='/static/js/jquery-1.8.3.min.js'}
	<style>
		a {text-decoration:none;}
		li {line-height:30px;}
	</style>
</head>
<body>
	<form id='ccdCtrl'>
	   <!--  <input type="hidden" name="type" value='uint16' /> -->
		<input type="hidden" name="at" value="37" />
		<input type="hidden" name="device" value="65" />
		 <li class='li fl'> <input type="radio" name='command' dataType='uint16' value='1'>
		 连接:<input type="text" class='command' name='connect' placeholder='随便给个值' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command' dataType='uint32' dataName='startTime' value='2'> 
		设置制冷温度:<input type="text" class='command' name='temperature'  placeholder='数字' />
		</li>
		<li class='li fl border' style='margin-right:6px;'>   <input type="radio" name='command' value='3'> 
		设置曝光策略：
		<br />&nbsp;&nbsp;数据有效标志位：<input type="text" class='command' name='validFlag' placeholder='整数'/>
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;起始时刻：<input type="text" class='command' name='startTime' placeholder='整数' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;曝光时间：<input type="text" class='command' name='duration' placeholder='小数' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;延迟时间：<input type="text" class='command' name='delay' placeholder='小数' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前拍摄目标名称：<input type="text" class='command' name='objectName' placeholder='数字字母' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前拍摄目标类型：<input type="text" class='command' name='objectType' placeholder='整数' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前拍摄目标赤经：<input type="text" class='command' name='objectRightAscension' placeholder='小数' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前拍摄目标赤纬：<input type="text" class='command' name='objectDeclination' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前拍摄目标历元：<input type="text" class='command' name='objectEpoch' placeholder='整数' /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前拍摄波段：<input type="text" class='command' name='objectBand' placeholder='数字字母' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拍摄波段滤光片系统：<input type="text" class='command' name='objectFilter' placeholder='数字' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;是否保存图像：<input type="text" class='command' name='isSaveImage' placeholder='整数' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;气象数据采集时间：<input type="text" class='command' name='weatherGatherTime' placeholder='整数' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;温度：<input type="text" class='command' name='temperature1' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湿度：<input type="text" class='command' name='humidity' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;风速：<input type="text" class='command' name='windSpeed' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;气压：<input type="text" class='command' name='pressure' placeholder='小数' />
        <br />&nbsp;天气状态采集时间：<input type="text" class='command' name='skyGatherTime' placeholder='整数' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天气状态：<input type="text" class='command' name='skyState' placeholder='整数' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;云量<input type="text" class='command' name='clouds' placeholder='整数' />
        <br />&nbsp;&nbsp;视宁度采集时间<input type="text" class='command' name='seeingGatherTime' placeholder='整数' />
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;视宁度<input type="text" class='command' name='seeing' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;粉尘采集时间<input type="text" class='command' name='dustGatherTime' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;粉尘<input type="text" class='command' name='dust' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;AMS<input type="text" class='command' name='AMS' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;消光系数采集时间<input type="text" class='command' name='extinctionGatherTime' placeholder='整数' />
        <br />&nbsp;&nbsp;&nbsp;赤经<input type="text" class='command' name='rightAscension' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;赤纬<input type="text" class='command' name='declination' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;波段<input type="text" class='command' name='band' placeholder='字母数字' />
        <br />&nbsp;&nbsp;&nbsp;消光系数1<input type="text" class='command' name='extinctionFactor1' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;消光系数2<input type="text" class='command' name='extinctionFactor2' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;消光系数3<input type="text" class='command' name='extinctionFactor3' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;望远镜赤经<input type="text" class='command' name='telescopeRightAscension' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;望远镜赤纬<input type="text" class='command' name='telescopeDeclination' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;焦距<input type="text" class='command' name='focusLength' placeholder='小数' />
        <br />&nbsp;&nbsp;&nbsp;帧数<input type="text" class='command' name='frameNum' placeholder='整数' />
		<hr />
		</li>
		<li class='li fl border' style='margin-right:6px;'>   <input type="radio" name='command'  value='4'>
		开始曝光<br />&nbsp;是否读取帧序号：<input type="text" class='command' name='isReadFrameSeq' placeholder='整数' />
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帧序号：
			<input type="text" class='command' name='frameSequence' placeholder='整数' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command'  value='5' />
		停止曝光:<input type="text" class='command' name='' placeholder='随便给个值' />
		</li>
		<li class='li fl'>  <input type="radio" name='command' dataType='uint16' value='6' />
		终止曝光:<input type="text" class='command' placeholder='随便给个值' />
		</li>
		<li class='li fl'>  <input type="radio" name='command' dataType='double64'  value='7' /> 
		设置增益:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增益模式：
			<input type="text" class='command' name='mode' placeholder='整数' />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增益档位：
			<input type="text" class='command' name='gear' placeholder='整数' />
		</li>
		<li class='li fl'>  <input type="radio" name='command' dataType='double64' dataName='objectDeclination' value='8' />
		设置读出速度模式值:<input type="text" class='command' name='ReadSpeedMode' placeholder='整数' />
		 </li>
         <li class='li fl'>  <input type="radio" name='command' dataType='double64' dataName='objectDeclination' value='8' />
		设置转移速度模式值:<input type="text" class='command' name='SetTransferSpeed' placeholder='整数' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command' value='9' />
		设置Bin:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BinX：
			<input type="text" class='command' name='BinX' placeholder='整数' />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BinY：
			<input type="text" class='command' name='BinY' placeholder='整数' />
		 </li>
		<li class='li fl'>   <input type="radio" name='command' value='10' />
		设置ROI:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;StartX：
			<input type="text" class='command' name='startX' placeholder='整数' />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;StartY：
			<input type="text" class='command' name='startY' placeholder='整数' />
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ImageW：
			<input type="text" class='command' name='imageWidth' placeholder='整数' />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;imageHeight：
			<input type="text" class='command' name='imageHeight' placeholder='整数' />
		 </li>
		<li class='li fl'> <input type="radio" name='command' value='11' />
		设置快门:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设置快门:
			<input type="text" class='command' name='shutter' placeholder='整数' />
		</li>
		<li class='li fl'>  <input type="radio" name='command' value='12' />
		设置帧转移:<br />&nbsp;&nbsp;&nbsp;设置帧转移：
			<input type="text" class='command' name='isFullFrame' placeholder='整数' />
		 </li>
		<li class='li fl'>   <input type="radio" name='command' value='13' />
		设置SetEM:<br />&nbsp;&nbsp;&nbsp;isEM:
			<input type="text" class='command' name='isEM' placeholder='整数' />
            <br />&nbsp;&nbsp;&nbsp;eMValue:
			<input type="text" class='command' name='eMValue' placeholder='整数' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command' value='14' />
		 set CMOS noise filter:<input type="text" class='command' name='isNoiseFilter' placeholder='输入整数' />
		 </li>
		<li class='li fl'>  <input type="radio" name='command' value='15' />
		set base line:<input type="text" class='command' name='emergenceStop' name='setFocusType' placeholder='随便给个值' />
        <br />&nbsp;&nbsp;&nbsp;isBaseline:<input type="text" class='command' name='isBaseline' placeholder='整数' />
        <br />&nbsp;&nbsp;&nbsp;baselineValue:<input type="text" class='command' name='baselineValue' placeholder='整数' />
		 </li>
		<li class='li fl'>    <input type="radio" name='command' value='16' />
		set over scan:<input type="text" class='command' name='isOverScan' placeholder='随便给个值' />
		  </li>
		<div class="clear"><input type="button" id="gimbalCtrlBtn" value="提交操作指令"></div>
	 </form>
        <script>
            $(function () {

                 var form = $('#ccdCtrl');
             

                //按钮提交事件
                  $("#gimbalCtrlBtn").click(function (){

                        var formData = new FormData(form[0]);

                        //执行ajax
                        $.ajax ({
                             type: 'post',
                             url : '/test/dev/dev1CcdSendData',
                             data : formData,
                             processData : false,
                             contentType : false,  
                               
                             success:  function (info) {
                                alert(info);
                                
                              },

                             error:  function () {
                                alert('网络异常,请重新提交');
                             },
                        });

                  });
                   
                 
               })
        </script>
</body>
</html>