<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    {load href='/static/js/jquery-1.8.3.min.js'}
	<style>
		a {text-decoration:none;}
		li {line-height:30px;}
	</style>
</head>
<body>
	<form id='filterCtrl'>
	   <!--  <input type="hidden" name="type" value='uint16' /> -->
		<input type="hidden" name="at" value="37" />
		<input type="hidden" name="device" value="66" />
		 <li class='li fl'> <input type="radio" name='command'  value='1'>
		 连接:<input type="text" class='command' name='connect' placeholder='随便给个值' />
		 </li>
         
         <li class='li fl'> <input type="radio" name='command'  value='2'>
		 设置滤光片位置:<input type="text" class='command' name='filterPosition' placeholder='整数' />
		 </li>
         
         <li class='li fl'> <input type="radio" name='command'  value='3'>
		 找零:<input type="text" class='command' name='filterFindHome' placeholder='随便给个值' />
		 </li>
         
		<div class="clear">
            <input type="button" id="gimbalCtrlBtn" value="提交操作指令">
        </div>
	 </form>
    <script>
        $(function () {

             var form = $('#filterCtrl');
         

            //按钮提交事件
              $("#gimbalCtrlBtn").click(function (){

                    var formData = new FormData(form[0]);

                    //执行ajax
                    $.ajax ({
                          type: 'post',
                          url : '/test/dev/dev1FilterSendData',
                          data : formData,
                          processData : false,
                          contentType : false,  
                           
                         success:  function (info) {
                            alert(info);
                            
                          },

                         error:  function () {
                            alert('网络异常,请重新提交');
                         },
                    });

              });  
             
           })
    </script>
</body>
</html>