<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    {load href='/static/js/jquery-1.8.3.min.js'}
	<style>
		a {text-decoration:none;}
		li {line-height:30px;}
	</style>
</head>
<body>
	<form id='slaveDomeCtrl'>
	   <!--  <input type="hidden" name="type" value='uint16' /> -->
		<input type="hidden" name="at" value="001" />
		<input type="hidden" name="device" value="002" />
		<input type="hidden" name="operation" value="003" />
		<!--测试阶段：每次提交指令 都对operation赋值 -->
		 <li class='li fl'> <input type="radio" name='command'  value='1'>
		 连接:<input type="text" class='command' name='connect' placeholder='随便给个值' />
		 </li>
         
         <li class='li fl'> <input type="radio" name='command'  value='2'>
		 设置目标方位:<input type="text" class='command' name='domePosition' placeholder='小数' />
		 </li>
         
         <li class='li fl'> <input type="radio" name='command'  value='3'>
		 设置风帘位置:<input type="text" class='command' name='shadePosition' placeholder='小数' />
		 </li>
         
         <li class='li fl'> <input type="radio" name='command'  value='4'>
		 设置转动速度:<input type="text" class='command' name='RotateSpeed' placeholder='小数' />
		 </li>
         
         <li class='li fl'> <input type="radio" name='command'  value='5'>
		 停止运动:<input type="text" class='command' name='' placeholder='随便给个值' />
		 </li>
         
         <li class='li fl'> <input type="radio" name='command'  value='5'>
		 打开/关闭天窗:<input type="text" class='command' name='OpenScuttle' placeholder='整数' />
		 </li>
         
         <li class='li fl'> <input type="radio" name='command'  value='5'>
		 控制风帘运动:<input type="text" class='command' name='shadeAction' placeholder='整数' />
		 </li>
         
		<div class="clear">
            <input type="button" id="gimbalCtrlBtn" value="提交操作指令">
        </div>
	 </form>
    <script>
        $(function () {

             var form = $('#slaveDomeCtrl');
         

            //按钮提交事件
              $("#gimbalCtrlBtn").click(function (){

                    var formData = new FormData(form[0]);

                    //执行ajax
                    $.ajax ({
                          type: 'post',
                          url : '/test/dev/dev1SlaveDomeSendData',
                          data : formData,
                          processData : false,
                          contentType : false,  
                           
                         success:  function (info) {
                            alert(info);
                            
                          },

                         error:  function () {
                            alert('网络异常,请重新提交');
                         },
                    });

              });  
             
           })
    </script>
</body>
</html>